/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';


body{
    background: url('./assets/img/bg7.jpg') center center no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
html, body { height: 100%; }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}
ul {
  list-style: none;
  padding: 0;
}

button {
  border: none;
  background: unset;
}

.msg-success {
  background: #0b571d;
  opacity: 0.6;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
}

.msg-error {
  background: darkred;
  color: #fff;
}



html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
